<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	">
    <context:property-placeholder location="classpath:resource/resource.properties"/>
    <!-- 配适器 Bean转为json相关配置 此配置可用mvc:annotation-driven替代-->
    <!--  <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
          <property name="messageConverters">
              <list>
                  <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
              </list>
          </property>
      </bean>-->

    <!-- 同时开启json格式的支持 -->
    <mvc:annotation-driven>
        <!--用于返回json中文乱码-->
        <mvc:message-converters>
            <!--<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>-->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=utf-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 静态资源映射 -->
    <mvc:resources mapping="/css/**" location="/css/" cache-period="31536000"/>
    <mvc:resources mapping="/js/**" location="/js/" cache-period="31536000"/>

    <!-- 扫描所有的controller 但是不扫描service -->
    <context:component-scan base-package="com.taotao.sso.controller"/>
    <!--<context:component-scan base-package="com.taotao">-->
    <!--<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />-->
    <!--<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" />-->
    <!--</context:component-scan>-->

    <!-- 配置文件上传解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设定默认编码 -->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!-- 设定文件上传的最大值5MB，5*1024*1024 -->
        <property name="maxUploadSize" value="5242880"></property>
    </bean>

    <!--其它扩展的配置可以参考jeesite的spring-mvc.xml-->
    <!-- 配置全局异常处理器 -->
    <!--<bean class="com.taotao.exception.GlobalExceptionResolver"></bean>-->

    <!-- 引用dubbo服务 -->
    <dubbo:application name="taotao-web"/>
    <dubbo:registry protocol="zookeeper" address="192.168.1.236:2181"/>
    <dubbo:reference interface="com.taotao.sso.service.UserService" id="userService" />

</beans>